@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

h1,h2,h3,h4,h5,h6,p,a,ul,ol,li {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  opacity: 0.8;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3em;
}
p {
  line-height: 1.5;
}

a {
  pointer-events: all;
}